# OS files
.DS_Store

# Dependency directories
node_modules/

# Build output
out/
*.tsbuildinfo

# Packaged extension artifacts
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local editor/workspace files
.vscode/settings.json
*.code-workspace

# Local sample/private data
DB_ORBIS_CORE/

# Temporary files
*.tmp
*.swp

# Deisgn files
*.afdesign